<div class="container" style="margin-top:-6px;">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">
                        <strong>Find Your Result</strong>
                    </h5>
                    <form [formGroup]="findResultForm" (ngSubmit)="findMyResult()">
                        <div class="row g-3 align-items-center">
                            <div class="col-4">
                                <label class="col-form-label">Roll No.</label>
                            </div>
                            <div class="col-8">
                                <input formControlName="rollNo" type="text" class="form-control" min="1" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null"
                                    [ngClass]="{ 'is-invalid': submitted && f['rollNo'].errors }" />
                                <div *ngIf="submitted && f['rollNo'].errors" class="invalid-feedback">
                                    <div *ngIf="f['rollNo'].errors['required']">Roll No. is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row g-3 align-items-center">
                            <div class="col-4">
                                <label class="col-form-label">Date of Birth</label>
                            </div>
                            <div class="col-8">
                                <input formControlName="dob" type="date" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                                <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                                    <div *ngIf="f['dob'].errors['required']">Dob is required</div>
                                </div>

                            </div>

                            <br><br><br><br>
                        </div>
                        <div class="row g-3 align-items-center" style="padding-top:20px;padding-left:120px;">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-light" id="clear">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>