.container{
    width: 700%;
    margin-top: -58px;
}
.btn {
    border-radius: 40px; 
    border-color: black;
    width: 100px;
    height: 37px;
    
}
#clear{
   margin-left: 9px;
}
.form-control{
    border-radius: 50px;
    
}